@page
@model ForgotPasswordModel
@{
    Layout = "/Views/Shared/Authenticate/_LoginLayout.cshtml";
    ViewData["Title"] = "Quên mật khẩu?";
}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Đổi mật khẩu</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
