@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
        <p>
            Vui lòng xem email để cập nhật lại mật khẩu
        </p>
    </div>
</div>