@page
@model LockoutModel
@{
    ViewData["Title"] = "Khóa tài khoản";
}
<div class="p-5">
    <div class="text-center">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Tài khoản này đã bị khóa.Vui lòng liên hệ admin.</p>
        </header>
    </div>
</div>