@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Mật khẩu đã được cài lại thành công. Hãy <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
    </p>
</div>

