@model ProductVM;
<form method="post" enctype="multipart/form-data">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark"> @(Model.product.ID != 0 ? "Cập nhật sách" : "Thêm sách mới")</h2>
            <hr />
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <input hidden asp-for="product.ID" />
                    <input hidden asp-for="product.ImageUrl"/>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group mb-3">
                        <label asp-for="product.Title" class="p-0"></label>
                        <input asp-for="product.Title" type="text" class="form-control" />
                        <span asp-validation-for="product.Title" class="text-danger"></span>

                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.Description" class="p-0">Mô tả</label>
                        <textarea asp-for="product.Description" type="text" class="form-control"></textarea>
                        <span asp-validation-for="product.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.ISBN" class="p-0"></label>
                        <input asp-for="product.ISBN" type="text" class="form-control" />
                        <span asp-validation-for="product.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.Author" class="p-0"></label>
                        <input asp-for="product.Author" type="text" class="form-control" />
                        <span asp-validation-for="product.Author" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.CategoryId" class="p-0"></label>
                        <select class="form-control" asp-items="@Model.selectCategoryItems" asp-for="product.CategoryId">
                            <option disabled selected>Lựa chọn thể loại</option>
                        </select>
                        <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.Price" class="p-0"></label>
                        <input asp-for="product.Price" type="text" class="form-control" />
                        <span asp-validation-for="product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="product.ImageUrl" class="p-0"></label>
                        <input name="file" type="file" class="form-control" />
                        <span asp-validation-for="product.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            @if (Model.product.ID != 0)
                            {
                                <button type="submit" class="btn btn-primary btn-warning" style="width:150px">Chỉnh sửa</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary btn-success" style="width:150px">Tạo mới</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.product.ImageUrl" width="100%" style="border-radius:8px;border:1px solid #bbb9b9;" />
                </div>
            </div>
        </div>
     
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

}