﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trang Quản lý</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/sbadmin/fontawesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/sbadmin/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />

    <link rel="stylesheet" href="~/css/pagination.css" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @await RenderSectionAsync("SideBar", false)
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @await RenderSectionAsync("TopBar", false)
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                   
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>


    <script src="~/sbadmin/js/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/sbadmin/js/boostrap/bootstrap.bundle.min.js"></script>
    <script src="~/sbadmin/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/wlezu4ewn6yfb6r1g8y2rrkjywbgwle5hmfkwacxgldnbre9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/sbadmin/sb-admin-2.min.js"></script>
    <script src="~/js/admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>